FOODSAFETY_API_KEY = "***********"
HF_TOKEN = "hf_*********************"

# 선택 설정
VLM_MODEL = "Qwen/Qwen3.5-9B"
VLM_PROVIDER = "auto"
FOODSAFETY_API_BASE_URL = "https://openapi.foodsafetykorea.go.kr/api"

